$colorFuentes: white;
$colorSecundarioFuentes: black;

$backgroundColor: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(113, 113, 113) 23%, rgb(183, 183, 183) 100%);
$backgroundColorSec: white;


$backgroundCards: rgba(122, 143, 144, 0.69);
$borderImageColorCards: rgba(240, 240, 240, 0.525);
$colorDiscountLabel50: rgba(0, 184, 0, 0.562);
$colorDiscountLabel80: rgba(236, 142, 0, 0.692);

$borderColorIcons: rgba(150, 150, 150, 0.2);

$backgroundBotones: rgba(32, 32, 32, 0.521);
$colorHover: #005f5f;

$fondoBotonWhats: #31da6ed8;
$colorSombras: rgba(0, 0, 0, 0.341);

$backgroundFormContacto: rgba(100, 100, 100, 0.568);
