@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import "variables", "mixins";

html{
    font: 62.5%;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;

    body{
        text-align: center;
        color: $colorFuentes;
        background: $backgroundColor;

        h1{
            font-size: 1.5rem;
        }
    
        p {
            font-size: 1rem;
        }
        
        a{
            display: inline;
            text-decoration: none;
            font-size: 1.2rem;
        }

        ul{
            padding: 0;
            margin: 0;
        }
        
    }
}

/*LAYOUT*/

.gridLayout{
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "anuncios"
    "footer";
    grid-template-rows: 150px 10fr 150px 500px; 
    grid-template-columns: auto;
    column-gap: 10px;
    row-gap: 10px;
}
@media screen and (max-width: 1024px) {
	.gridLayout {
        grid-template-areas:
        "header"
        "main"
        "footer";
        grid-template-rows: 133px 3fr 600px; 
    }
}
@media screen and (max-width: 768px) {
	.gridLayout {
        grid-template-areas:
        "header"
        "main"
        "footer";
        grid-template-rows: 116px 3fr 700px;
    }
}

header{
    grid-area: header;
}

section#main{
    grid-area: main;
    @include flexColumnCenter;
}

section#anuncios{
    grid-area: anuncios;     
    @include flexColumnCenter;
}
@media screen and (max-width: 768px) {
	section#anuncios{
        display: none;
    }
}
@media screen and (max-width: 1024px) {
	section#anuncios{
        display: none;
    }
}

footer{
    grid-area: footer;
}

.containerMain{
    display: flex;
    justify-content:space-evenly;
    width: 70%;
    flex-flow: row wrap;
}

.containerAnuncios{
    @include flexRowCenter;
}

/*HEADER*/

.logo{
    width: 8rem;
}
@media screen and (max-width: 1024px) {
    .logo{
        width: 7rem;
    }
}
@media screen and (max-width: 768px) {
    .logo{
        width: 6rem;
    }
}

.logo:hover {
    background-color: #ffffff;
}

.navMenu{
    z-index: 500;
    @include sombras;
    ul{
        list-style: none;
        text-align: center;
        padding: 0;
        margin: 0;
    }
}

.navMenu a{
    font-size: 1.8rem;
}
@media screen and (max-width: 1024px) {
    .navMenu a{
        font-size: 1.5rem;
    }
}

.navMenu a:hover {
    background-color: $colorHover;
}

/*HOME*/

.parallax {
    background-image: url("../images/parallax1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.espaciador{
    height: 50px;
}

.imagenesFijas{
    width: 80%;
    object-fit: scale-down;
}

.imagenesPromos{
    width: 40%;
    margin: 5px 0;
    object-fit:fill;
    border: solid 2px $borderImageColorCards;
    border-radius: 5%;
    @include sombras;
}
@media screen and (max-width: 1024px) {
    .imagenesPromos{
        width: 80%;
    }
}
@media screen and (max-width: 768px) {
    .imagenesPromos{
        width: 90%;
    }
}


/*CATALOGO*/

.discountLabel50{
    background-color: $colorDiscountLabel50;
    font-weight: 300;
    padding: 10px 20px;
    font-size: medium;
    position: absolute;
    top: -20px;
    right: -20px;
    @include sombras;
}

.discountLabel80{
    background-color: $colorDiscountLabel80;
    font-weight: 300;
    padding: 10px 20px;
    font-size: medium;
    position: absolute;
    top: -20px;
    right: -20px;
    @include sombras;
}

.containerMarket{
    @include flexRowCenter;
}

.cardMarket{
    background-color: $backgroundCards;
    width: 300px;
    padding: 30px 40px;
    margin: 30px;
    position: relative;
    @include sombras;
}

.cardMarket:hover{
    transform: translate(-1px,1px);
    transform: rotate(-0.2deg);
    transition: 1000ms;
    animation-timing-function: ease-in-out;
}

.imagenCard{
    width: 220px;
    margin: 20px auto;
    border: solid 5px $borderImageColorCards;
}

.imagenCard:hover{
    transform: scale(1.1);
    transition: 700ms;
    animation-timing-function:ease-in-out;
}

.botonCarrito{
    text-transform: uppercase;
    background: $backgroundBotones;
    color: $colorFuentes;
    width: 80%;
    border: 15px;
    padding: 15px;
    border-radius: 10%;
    cursor: pointer;
    @include sombras;
}

.botonCarrito:hover{
    background: $colorHover;
}

/*TIENDAS*/
.mapa{
    width: 70vw;
    height: 70vh;
    border-radius: 5%;
}

/*FOOTER*/

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color: $fondoBotonWhats;
    color: $colorFuentes;
	border-radius:50px;
    font-size:2rem;
	@include sombras;
    z-index:100;
}

.my-float{
	margin-top:15px;
}

.containerRedes{
    @include flexRowCenter;
    @include containers;
}

.socialroundedico{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 1px;
    border-color: $borderColorIcons;
    @include sombras;
}

.socialroundedicolink{
    margin: 20px;
}

/*CONTACTO*/

.formContacto{
    position: relative;
    z-index: 1;
    background: $backgroundFormContacto;
    max-width: 70%;
    margin: 0 auto 100px;
    padding: 55px;
    text-align: center;
    @include sombras;
}

.formContacto input {
    font-size: 1rem;
    width: 100%;
    border: 0;
    margin: 0 auto 20px;
    padding: 15px;
    text-align: center;
}

.formContacto textarea {
    font-size: 1rem;
    width: 100%;
    border: 0;
    margin: 0 auto 20px;
    padding: 15px;
    text-align: center;
}

.botonContacto:hover,.boton:active,.boton:focus {
    background: #43a090;
    color: $colorFuentes;
}

.boxCanales{
    background-color: $backgroundCards;
    width: 300px;
    padding: 30px 40px;
    margin: 30px;
    position: relative;
    @include sombras;
}

/*BARRA DE NAVEGACION INFERIOR*/

.navfooter ul{
    list-style: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: 100%;
}

.navfooter a {
    color: $colorFuentes;
    transition: .3s background-color;
}

.navfooter a:hover {
    color: aqua;
}

.navfooter li {
    display: inline-block;
}
@media screen and (max-width: 768px) {
    .navfooter li {
        @include flexRowCenter;
    }
}

.copyright{
    padding: 40px;
}